<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
  
    <title>asdas</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css-main.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans:regular,italic,bold,bolditalic">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic">
    <meta name="msapplication-TileColor" content="#FFFFFF">
  
  
  </head>


  <body class="default">
    <div id="container" class="clearfix">
      <header id="header">

  <div class="inside clearfix">

    <div id="logo">
      <h1 class="logo">
	<a href="">my image</a>
      </h1>
    </div>
    <nav id="mainNav" class="clearfix">
      <ul>
        <li class="menu-item current"><a href="">Home</a></li>

	
          
            <li class="menu-item "><a href="">About</a></li>
	  

          
            <li class="menu-item "><a href="">Portfolio</a></li>

	
        <li class="menu-item "><a href="">Archives</a></li>
      </ul>
    </nav>
    <div id="side_widgets">

      <!-- Search should go here -->

      
      <div class="sidebar_box">
        <h3 class="accent-header">About</h3>
	<p></p><p>temp data abut myself</p>

      </div>
      

      <div class="sidebar_box">
	<div class="flare-follow">
	  
	  <a href="https://www.github.com/">
            github
	  </a>
	  
	  
	  <a href="http://www.twitter.com/">
            twitter
	  </a>
	  
	  
	  <a href="http://plus.google.com/">
            google
	  </a>
	  
	</div>
      </div>

    </div>

  </div>

</header>


















  <footer id="footer" class="site-footer">



    <div class="secondary clearfix">
      <div class="right">
        <p>&copy; 2020-2021 Developed by Leeladhar Rao</p>
      </div>
    </div>

  </footer>

</body>

    
</html>