<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    <meta charset="utf-8">
  
    <title>{% block title %} {% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css-main.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans:regular,italic,bold,bolditalic">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic">
    <meta name="msapplication-TileColor" content="#FFFFFF">
  
    {% endblock %}
  </head>


  <body class="default">
    <div id="container" class="clearfix">
      <header id="header">

        <div class="inside clearfix">

          <div id="logo">
            <h1 class="logo">
	            <a href="">my image</a>
            </h1>
          </div>


          <nav id="mainNav" class="clearfix">
            <ul>
              <li class="menu-item current"><a href="{{ url_for('home') }}">Home</a></li>

              <li class="menu-item "><a href="{{ url_for('about') }}">About</a></li>

              <li class="menu-item "><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
	
              <li class="menu-item "><a href="{{ url_for('blog') }}">Blog Posts</a></li>
            </ul>
          </nav>

      
          <div class="sidebar_box">
            <h3 class="accent-header">About</h3>
	          <p></p>
            <p>temp data abut myself</p>

          </div>
      

          <div class="sidebar_box">
	          <div class="flare-follow">
	  
	            <a href="https://www.github.com/">
                github
	            </a>
	  
              <a href="http://www.twitter.com/">
                      twitter
              </a>
	  
              <a href="http://plus.google.com/">
                      google
              </a>
	  
	          </div>
          </div>
        </div>

      </header>
    </div>


    {% block body %}
		{% endblock %}


    <footer id="footer" class="site-footer">

      <div class="secondary clearfix">
        <div class="right">
          <p>&copy; 2020-2021 written with love</p>
        </div>
      </div>

    </footer>

  </body>

</html>